@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em; }

.gridset {
  background: rgba(0, 208, 255, 0.15);
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-auto-flow: dense;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr); }

@media only screen and (min-width: 1020px) {
  .gridset {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); } }

@media only screen and (min-width: 1500px) {
  .gridset {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr); } }

.gridset.squareItems .griditem::before {
  content: "";
  display: block;
  width: 0px;
  padding-bottom: 100%;
  background: yellow;
  float: left; }

.griditem {
  background: rgba(0, 0, 0, 0.1); }

.griditem.griditem_fullwidth {
  grid-column: 1/-1; }

.griditem.griditem_width2 {
  -ms-grid-column-span: 2;
  grid-column: span 2; }

.gridset.squareItems .griditem.griditem_width2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2; }
