:root {
  --guttersize: 1rem;
  --gridGuideColumnColour: rgba(0, 128, 255, 0.2);
  --gridItemColumnColour: rgba(128, 255, 0, 0.3);
  --flexItemColumnColour: rgba(0, 64, 255, 0.3); }

body.debugLayout .flexsection {
  background: -webkit-linear-gradient(left, rgba(0, 128, 255, 0.2), rgba(0, 128, 255, 0.2) 50%, yellow 50%, yellow 100%);
  background: linear-gradient(90deg, rgba(0, 128, 255, 0.2), rgba(0, 128, 255, 0.2) 50%, yellow 50%, yellow 100%); }

body.debugLayout .flexsection > * {
  background: rgba(0, 64, 255, 0.3);
  background: var(--flexItemColumnColour); }

body.debugLayout .gridsection > * {
  background: rgba(128, 255, 0, 0.3);
  background: var(--gridItemColumnColour); }

body.debugLayout .flexsection {
  background: yellow; }

.columncount_1 > * {
  width: 100%;
  -webkit-flex-basis: calc(((100%) / 1) - 1rem);
          flex-basis: calc(((100%) / 1) - 1rem);
  -webkit-flex-basis: calc(((100%) / 1) - var(--guttersize));
          flex-basis: calc(((100%) / 1) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_1 .columnwidth_1 {
  width: 100%;
  width: calc((((100% + 1rem) / 1)) * 1);
  -webkit-flex-basis: calc((((100%) / 1) * 1) - 1rem);
          flex-basis: calc((((100%) / 1) * 1) - 1rem); }

.columncount_1 > * {
  width: 100%;
  -webkit-flex-basis: calc(((100%) / 1) - 1rem);
          flex-basis: calc(((100%) / 1) - 1rem);
  -webkit-flex-basis: calc(((100%) / 1) - var(--guttersize));
          flex-basis: calc(((100%) / 1) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_1 .columnwidth_2 {
  width: 200%;
  width: calc((((100% + 1rem) / 1)) * 2);
  -webkit-flex-basis: calc((((100%) / 1) * 2) - 1rem);
          flex-basis: calc((((100%) / 1) * 2) - 1rem); }

.columncount_1 > * {
  width: 100%;
  -webkit-flex-basis: calc(((100%) / 1) - 1rem);
          flex-basis: calc(((100%) / 1) - 1rem);
  -webkit-flex-basis: calc(((100%) / 1) - var(--guttersize));
          flex-basis: calc(((100%) / 1) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_1 .columnwidth_3 {
  width: 300%;
  width: calc((((100% + 1rem) / 1)) * 3);
  -webkit-flex-basis: calc((((100%) / 1) * 3) - 1rem);
          flex-basis: calc((((100%) / 1) * 3) - 1rem); }

.columncount_1 > * {
  width: 100%;
  -webkit-flex-basis: calc(((100%) / 1) - 1rem);
          flex-basis: calc(((100%) / 1) - 1rem);
  -webkit-flex-basis: calc(((100%) / 1) - var(--guttersize));
          flex-basis: calc(((100%) / 1) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_1 .columnwidth_4 {
  width: 400%;
  width: calc((((100% + 1rem) / 1)) * 4);
  -webkit-flex-basis: calc((((100%) / 1) * 4) - 1rem);
          flex-basis: calc((((100%) / 1) * 4) - 1rem); }

.columncount_1 > * {
  width: 100%;
  -webkit-flex-basis: calc(((100%) / 1) - 1rem);
          flex-basis: calc(((100%) / 1) - 1rem);
  -webkit-flex-basis: calc(((100%) / 1) - var(--guttersize));
          flex-basis: calc(((100%) / 1) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_1 .columnwidth_5 {
  width: 500%;
  width: calc((((100% + 1rem) / 1)) * 5);
  -webkit-flex-basis: calc((((100%) / 1) * 5) - 1rem);
          flex-basis: calc((((100%) / 1) * 5) - 1rem); }

.columncount_1 > * {
  width: 100%;
  -webkit-flex-basis: calc(((100%) / 1) - 1rem);
          flex-basis: calc(((100%) / 1) - 1rem);
  -webkit-flex-basis: calc(((100%) / 1) - var(--guttersize));
          flex-basis: calc(((100%) / 1) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_1 .columnwidth_6 {
  width: 600%;
  width: calc((((100% + 1rem) / 1)) * 6);
  -webkit-flex-basis: calc((((100%) / 1) * 6) - 1rem);
          flex-basis: calc((((100%) / 1) * 6) - 1rem); }

.columncount_1 > * {
  width: 100%;
  -webkit-flex-basis: calc(((100%) / 1) - 1rem);
          flex-basis: calc(((100%) / 1) - 1rem);
  -webkit-flex-basis: calc(((100%) / 1) - var(--guttersize));
          flex-basis: calc(((100%) / 1) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_1 .columnwidth_7 {
  width: 700%;
  width: calc((((100% + 1rem) / 1)) * 7);
  -webkit-flex-basis: calc((((100%) / 1) * 7) - 1rem);
          flex-basis: calc((((100%) / 1) * 7) - 1rem); }

.columncount_2 > * {
  width: 50%;
  -webkit-flex-basis: calc(((100%) / 2) - 1rem);
          flex-basis: calc(((100%) / 2) - 1rem);
  -webkit-flex-basis: calc(((100%) / 2) - var(--guttersize));
          flex-basis: calc(((100%) / 2) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_2 .columnwidth_1 {
  width: 50%;
  width: calc((((100% + 1rem) / 2)) * 1);
  -webkit-flex-basis: calc((((100%) / 2) * 1) - 1rem);
          flex-basis: calc((((100%) / 2) * 1) - 1rem); }

.columncount_2 > * {
  width: 50%;
  -webkit-flex-basis: calc(((100%) / 2) - 1rem);
          flex-basis: calc(((100%) / 2) - 1rem);
  -webkit-flex-basis: calc(((100%) / 2) - var(--guttersize));
          flex-basis: calc(((100%) / 2) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_2 .columnwidth_2 {
  width: 100%;
  width: calc((((100% + 1rem) / 2)) * 2);
  -webkit-flex-basis: calc((((100%) / 2) * 2) - 1rem);
          flex-basis: calc((((100%) / 2) * 2) - 1rem); }

.columncount_2 > * {
  width: 50%;
  -webkit-flex-basis: calc(((100%) / 2) - 1rem);
          flex-basis: calc(((100%) / 2) - 1rem);
  -webkit-flex-basis: calc(((100%) / 2) - var(--guttersize));
          flex-basis: calc(((100%) / 2) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_2 .columnwidth_3 {
  width: 150%;
  width: calc((((100% + 1rem) / 2)) * 3);
  -webkit-flex-basis: calc((((100%) / 2) * 3) - 1rem);
          flex-basis: calc((((100%) / 2) * 3) - 1rem); }

.columncount_2 > * {
  width: 50%;
  -webkit-flex-basis: calc(((100%) / 2) - 1rem);
          flex-basis: calc(((100%) / 2) - 1rem);
  -webkit-flex-basis: calc(((100%) / 2) - var(--guttersize));
          flex-basis: calc(((100%) / 2) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_2 .columnwidth_4 {
  width: 200%;
  width: calc((((100% + 1rem) / 2)) * 4);
  -webkit-flex-basis: calc((((100%) / 2) * 4) - 1rem);
          flex-basis: calc((((100%) / 2) * 4) - 1rem); }

.columncount_2 > * {
  width: 50%;
  -webkit-flex-basis: calc(((100%) / 2) - 1rem);
          flex-basis: calc(((100%) / 2) - 1rem);
  -webkit-flex-basis: calc(((100%) / 2) - var(--guttersize));
          flex-basis: calc(((100%) / 2) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_2 .columnwidth_5 {
  width: 250%;
  width: calc((((100% + 1rem) / 2)) * 5);
  -webkit-flex-basis: calc((((100%) / 2) * 5) - 1rem);
          flex-basis: calc((((100%) / 2) * 5) - 1rem); }

.columncount_2 > * {
  width: 50%;
  -webkit-flex-basis: calc(((100%) / 2) - 1rem);
          flex-basis: calc(((100%) / 2) - 1rem);
  -webkit-flex-basis: calc(((100%) / 2) - var(--guttersize));
          flex-basis: calc(((100%) / 2) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_2 .columnwidth_6 {
  width: 300%;
  width: calc((((100% + 1rem) / 2)) * 6);
  -webkit-flex-basis: calc((((100%) / 2) * 6) - 1rem);
          flex-basis: calc((((100%) / 2) * 6) - 1rem); }

.columncount_2 > * {
  width: 50%;
  -webkit-flex-basis: calc(((100%) / 2) - 1rem);
          flex-basis: calc(((100%) / 2) - 1rem);
  -webkit-flex-basis: calc(((100%) / 2) - var(--guttersize));
          flex-basis: calc(((100%) / 2) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_2 .columnwidth_7 {
  width: 350%;
  width: calc((((100% + 1rem) / 2)) * 7);
  -webkit-flex-basis: calc((((100%) / 2) * 7) - 1rem);
          flex-basis: calc((((100%) / 2) * 7) - 1rem); }

.columncount_3 > * {
  width: 33.3333333333%;
  -webkit-flex-basis: calc(((100%) / 3) - 1rem);
          flex-basis: calc(((100%) / 3) - 1rem);
  -webkit-flex-basis: calc(((100%) / 3) - var(--guttersize));
          flex-basis: calc(((100%) / 3) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_3 .columnwidth_1 {
  width: 33.3333333333%;
  width: calc((((100% + 1rem) / 3)) * 1);
  -webkit-flex-basis: calc((((100%) / 3) * 1) - 1rem);
          flex-basis: calc((((100%) / 3) * 1) - 1rem); }

.columncount_3 > * {
  width: 33.3333333333%;
  -webkit-flex-basis: calc(((100%) / 3) - 1rem);
          flex-basis: calc(((100%) / 3) - 1rem);
  -webkit-flex-basis: calc(((100%) / 3) - var(--guttersize));
          flex-basis: calc(((100%) / 3) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_3 .columnwidth_2 {
  width: 66.6666666667%;
  width: calc((((100% + 1rem) / 3)) * 2);
  -webkit-flex-basis: calc((((100%) / 3) * 2) - 1rem);
          flex-basis: calc((((100%) / 3) * 2) - 1rem); }

.columncount_3 > * {
  width: 33.3333333333%;
  -webkit-flex-basis: calc(((100%) / 3) - 1rem);
          flex-basis: calc(((100%) / 3) - 1rem);
  -webkit-flex-basis: calc(((100%) / 3) - var(--guttersize));
          flex-basis: calc(((100%) / 3) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_3 .columnwidth_3 {
  width: 100%;
  width: calc((((100% + 1rem) / 3)) * 3);
  -webkit-flex-basis: calc((((100%) / 3) * 3) - 1rem);
          flex-basis: calc((((100%) / 3) * 3) - 1rem); }

.columncount_3 > * {
  width: 33.3333333333%;
  -webkit-flex-basis: calc(((100%) / 3) - 1rem);
          flex-basis: calc(((100%) / 3) - 1rem);
  -webkit-flex-basis: calc(((100%) / 3) - var(--guttersize));
          flex-basis: calc(((100%) / 3) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_3 .columnwidth_4 {
  width: 133.333333333%;
  width: calc((((100% + 1rem) / 3)) * 4);
  -webkit-flex-basis: calc((((100%) / 3) * 4) - 1rem);
          flex-basis: calc((((100%) / 3) * 4) - 1rem); }

.columncount_3 > * {
  width: 33.3333333333%;
  -webkit-flex-basis: calc(((100%) / 3) - 1rem);
          flex-basis: calc(((100%) / 3) - 1rem);
  -webkit-flex-basis: calc(((100%) / 3) - var(--guttersize));
          flex-basis: calc(((100%) / 3) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_3 .columnwidth_5 {
  width: 166.666666667%;
  width: calc((((100% + 1rem) / 3)) * 5);
  -webkit-flex-basis: calc((((100%) / 3) * 5) - 1rem);
          flex-basis: calc((((100%) / 3) * 5) - 1rem); }

.columncount_3 > * {
  width: 33.3333333333%;
  -webkit-flex-basis: calc(((100%) / 3) - 1rem);
          flex-basis: calc(((100%) / 3) - 1rem);
  -webkit-flex-basis: calc(((100%) / 3) - var(--guttersize));
          flex-basis: calc(((100%) / 3) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_3 .columnwidth_6 {
  width: 200%;
  width: calc((((100% + 1rem) / 3)) * 6);
  -webkit-flex-basis: calc((((100%) / 3) * 6) - 1rem);
          flex-basis: calc((((100%) / 3) * 6) - 1rem); }

.columncount_3 > * {
  width: 33.3333333333%;
  -webkit-flex-basis: calc(((100%) / 3) - 1rem);
          flex-basis: calc(((100%) / 3) - 1rem);
  -webkit-flex-basis: calc(((100%) / 3) - var(--guttersize));
          flex-basis: calc(((100%) / 3) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_3 .columnwidth_7 {
  width: 233.333333333%;
  width: calc((((100% + 1rem) / 3)) * 7);
  -webkit-flex-basis: calc((((100%) / 3) * 7) - 1rem);
          flex-basis: calc((((100%) / 3) * 7) - 1rem); }

.columncount_4 > * {
  width: 25%;
  -webkit-flex-basis: calc(((100%) / 4) - 1rem);
          flex-basis: calc(((100%) / 4) - 1rem);
  -webkit-flex-basis: calc(((100%) / 4) - var(--guttersize));
          flex-basis: calc(((100%) / 4) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_4 .columnwidth_1 {
  width: 25%;
  width: calc((((100% + 1rem) / 4)) * 1);
  -webkit-flex-basis: calc((((100%) / 4) * 1) - 1rem);
          flex-basis: calc((((100%) / 4) * 1) - 1rem); }

.columncount_4 > * {
  width: 25%;
  -webkit-flex-basis: calc(((100%) / 4) - 1rem);
          flex-basis: calc(((100%) / 4) - 1rem);
  -webkit-flex-basis: calc(((100%) / 4) - var(--guttersize));
          flex-basis: calc(((100%) / 4) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_4 .columnwidth_2 {
  width: 50%;
  width: calc((((100% + 1rem) / 4)) * 2);
  -webkit-flex-basis: calc((((100%) / 4) * 2) - 1rem);
          flex-basis: calc((((100%) / 4) * 2) - 1rem); }

.columncount_4 > * {
  width: 25%;
  -webkit-flex-basis: calc(((100%) / 4) - 1rem);
          flex-basis: calc(((100%) / 4) - 1rem);
  -webkit-flex-basis: calc(((100%) / 4) - var(--guttersize));
          flex-basis: calc(((100%) / 4) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_4 .columnwidth_3 {
  width: 75%;
  width: calc((((100% + 1rem) / 4)) * 3);
  -webkit-flex-basis: calc((((100%) / 4) * 3) - 1rem);
          flex-basis: calc((((100%) / 4) * 3) - 1rem); }

.columncount_4 > * {
  width: 25%;
  -webkit-flex-basis: calc(((100%) / 4) - 1rem);
          flex-basis: calc(((100%) / 4) - 1rem);
  -webkit-flex-basis: calc(((100%) / 4) - var(--guttersize));
          flex-basis: calc(((100%) / 4) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_4 .columnwidth_4 {
  width: 100%;
  width: calc((((100% + 1rem) / 4)) * 4);
  -webkit-flex-basis: calc((((100%) / 4) * 4) - 1rem);
          flex-basis: calc((((100%) / 4) * 4) - 1rem); }

.columncount_4 > * {
  width: 25%;
  -webkit-flex-basis: calc(((100%) / 4) - 1rem);
          flex-basis: calc(((100%) / 4) - 1rem);
  -webkit-flex-basis: calc(((100%) / 4) - var(--guttersize));
          flex-basis: calc(((100%) / 4) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_4 .columnwidth_5 {
  width: 125%;
  width: calc((((100% + 1rem) / 4)) * 5);
  -webkit-flex-basis: calc((((100%) / 4) * 5) - 1rem);
          flex-basis: calc((((100%) / 4) * 5) - 1rem); }

.columncount_4 > * {
  width: 25%;
  -webkit-flex-basis: calc(((100%) / 4) - 1rem);
          flex-basis: calc(((100%) / 4) - 1rem);
  -webkit-flex-basis: calc(((100%) / 4) - var(--guttersize));
          flex-basis: calc(((100%) / 4) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_4 .columnwidth_6 {
  width: 150%;
  width: calc((((100% + 1rem) / 4)) * 6);
  -webkit-flex-basis: calc((((100%) / 4) * 6) - 1rem);
          flex-basis: calc((((100%) / 4) * 6) - 1rem); }

.columncount_4 > * {
  width: 25%;
  -webkit-flex-basis: calc(((100%) / 4) - 1rem);
          flex-basis: calc(((100%) / 4) - 1rem);
  -webkit-flex-basis: calc(((100%) / 4) - var(--guttersize));
          flex-basis: calc(((100%) / 4) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_4 .columnwidth_7 {
  width: 175%;
  width: calc((((100% + 1rem) / 4)) * 7);
  -webkit-flex-basis: calc((((100%) / 4) * 7) - 1rem);
          flex-basis: calc((((100%) / 4) * 7) - 1rem); }

.columncount_5 > * {
  width: 20%;
  -webkit-flex-basis: calc(((100%) / 5) - 1rem);
          flex-basis: calc(((100%) / 5) - 1rem);
  -webkit-flex-basis: calc(((100%) / 5) - var(--guttersize));
          flex-basis: calc(((100%) / 5) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_5 .columnwidth_1 {
  width: 20%;
  width: calc((((100% + 1rem) / 5)) * 1);
  -webkit-flex-basis: calc((((100%) / 5) * 1) - 1rem);
          flex-basis: calc((((100%) / 5) * 1) - 1rem); }

.columncount_5 > * {
  width: 20%;
  -webkit-flex-basis: calc(((100%) / 5) - 1rem);
          flex-basis: calc(((100%) / 5) - 1rem);
  -webkit-flex-basis: calc(((100%) / 5) - var(--guttersize));
          flex-basis: calc(((100%) / 5) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_5 .columnwidth_2 {
  width: 40%;
  width: calc((((100% + 1rem) / 5)) * 2);
  -webkit-flex-basis: calc((((100%) / 5) * 2) - 1rem);
          flex-basis: calc((((100%) / 5) * 2) - 1rem); }

.columncount_5 > * {
  width: 20%;
  -webkit-flex-basis: calc(((100%) / 5) - 1rem);
          flex-basis: calc(((100%) / 5) - 1rem);
  -webkit-flex-basis: calc(((100%) / 5) - var(--guttersize));
          flex-basis: calc(((100%) / 5) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_5 .columnwidth_3 {
  width: 60%;
  width: calc((((100% + 1rem) / 5)) * 3);
  -webkit-flex-basis: calc((((100%) / 5) * 3) - 1rem);
          flex-basis: calc((((100%) / 5) * 3) - 1rem); }

.columncount_5 > * {
  width: 20%;
  -webkit-flex-basis: calc(((100%) / 5) - 1rem);
          flex-basis: calc(((100%) / 5) - 1rem);
  -webkit-flex-basis: calc(((100%) / 5) - var(--guttersize));
          flex-basis: calc(((100%) / 5) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_5 .columnwidth_4 {
  width: 80%;
  width: calc((((100% + 1rem) / 5)) * 4);
  -webkit-flex-basis: calc((((100%) / 5) * 4) - 1rem);
          flex-basis: calc((((100%) / 5) * 4) - 1rem); }

.columncount_5 > * {
  width: 20%;
  -webkit-flex-basis: calc(((100%) / 5) - 1rem);
          flex-basis: calc(((100%) / 5) - 1rem);
  -webkit-flex-basis: calc(((100%) / 5) - var(--guttersize));
          flex-basis: calc(((100%) / 5) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_5 .columnwidth_5 {
  width: 100%;
  width: calc((((100% + 1rem) / 5)) * 5);
  -webkit-flex-basis: calc((((100%) / 5) * 5) - 1rem);
          flex-basis: calc((((100%) / 5) * 5) - 1rem); }

.columncount_5 > * {
  width: 20%;
  -webkit-flex-basis: calc(((100%) / 5) - 1rem);
          flex-basis: calc(((100%) / 5) - 1rem);
  -webkit-flex-basis: calc(((100%) / 5) - var(--guttersize));
          flex-basis: calc(((100%) / 5) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_5 .columnwidth_6 {
  width: 120%;
  width: calc((((100% + 1rem) / 5)) * 6);
  -webkit-flex-basis: calc((((100%) / 5) * 6) - 1rem);
          flex-basis: calc((((100%) / 5) * 6) - 1rem); }

.columncount_5 > * {
  width: 20%;
  -webkit-flex-basis: calc(((100%) / 5) - 1rem);
          flex-basis: calc(((100%) / 5) - 1rem);
  -webkit-flex-basis: calc(((100%) / 5) - var(--guttersize));
          flex-basis: calc(((100%) / 5) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_5 .columnwidth_7 {
  width: 140%;
  width: calc((((100% + 1rem) / 5)) * 7);
  -webkit-flex-basis: calc((((100%) / 5) * 7) - 1rem);
          flex-basis: calc((((100%) / 5) * 7) - 1rem); }

.columncount_6 > * {
  width: 16.6666666667%;
  -webkit-flex-basis: calc(((100%) / 6) - 1rem);
          flex-basis: calc(((100%) / 6) - 1rem);
  -webkit-flex-basis: calc(((100%) / 6) - var(--guttersize));
          flex-basis: calc(((100%) / 6) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_6 .columnwidth_1 {
  width: 16.6666666667%;
  width: calc((((100% + 1rem) / 6)) * 1);
  -webkit-flex-basis: calc((((100%) / 6) * 1) - 1rem);
          flex-basis: calc((((100%) / 6) * 1) - 1rem); }

.columncount_6 > * {
  width: 16.6666666667%;
  -webkit-flex-basis: calc(((100%) / 6) - 1rem);
          flex-basis: calc(((100%) / 6) - 1rem);
  -webkit-flex-basis: calc(((100%) / 6) - var(--guttersize));
          flex-basis: calc(((100%) / 6) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_6 .columnwidth_2 {
  width: 33.3333333333%;
  width: calc((((100% + 1rem) / 6)) * 2);
  -webkit-flex-basis: calc((((100%) / 6) * 2) - 1rem);
          flex-basis: calc((((100%) / 6) * 2) - 1rem); }

.columncount_6 > * {
  width: 16.6666666667%;
  -webkit-flex-basis: calc(((100%) / 6) - 1rem);
          flex-basis: calc(((100%) / 6) - 1rem);
  -webkit-flex-basis: calc(((100%) / 6) - var(--guttersize));
          flex-basis: calc(((100%) / 6) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_6 .columnwidth_3 {
  width: 50%;
  width: calc((((100% + 1rem) / 6)) * 3);
  -webkit-flex-basis: calc((((100%) / 6) * 3) - 1rem);
          flex-basis: calc((((100%) / 6) * 3) - 1rem); }

.columncount_6 > * {
  width: 16.6666666667%;
  -webkit-flex-basis: calc(((100%) / 6) - 1rem);
          flex-basis: calc(((100%) / 6) - 1rem);
  -webkit-flex-basis: calc(((100%) / 6) - var(--guttersize));
          flex-basis: calc(((100%) / 6) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_6 .columnwidth_4 {
  width: 66.6666666667%;
  width: calc((((100% + 1rem) / 6)) * 4);
  -webkit-flex-basis: calc((((100%) / 6) * 4) - 1rem);
          flex-basis: calc((((100%) / 6) * 4) - 1rem); }

.columncount_6 > * {
  width: 16.6666666667%;
  -webkit-flex-basis: calc(((100%) / 6) - 1rem);
          flex-basis: calc(((100%) / 6) - 1rem);
  -webkit-flex-basis: calc(((100%) / 6) - var(--guttersize));
          flex-basis: calc(((100%) / 6) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_6 .columnwidth_5 {
  width: 83.3333333333%;
  width: calc((((100% + 1rem) / 6)) * 5);
  -webkit-flex-basis: calc((((100%) / 6) * 5) - 1rem);
          flex-basis: calc((((100%) / 6) * 5) - 1rem); }

.columncount_6 > * {
  width: 16.6666666667%;
  -webkit-flex-basis: calc(((100%) / 6) - 1rem);
          flex-basis: calc(((100%) / 6) - 1rem);
  -webkit-flex-basis: calc(((100%) / 6) - var(--guttersize));
          flex-basis: calc(((100%) / 6) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_6 .columnwidth_6 {
  width: 100%;
  width: calc((((100% + 1rem) / 6)) * 6);
  -webkit-flex-basis: calc((((100%) / 6) * 6) - 1rem);
          flex-basis: calc((((100%) / 6) * 6) - 1rem); }

.columncount_6 > * {
  width: 16.6666666667%;
  -webkit-flex-basis: calc(((100%) / 6) - 1rem);
          flex-basis: calc(((100%) / 6) - 1rem);
  -webkit-flex-basis: calc(((100%) / 6) - var(--guttersize));
          flex-basis: calc(((100%) / 6) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_6 .columnwidth_7 {
  width: 116.666666667%;
  width: calc((((100% + 1rem) / 6)) * 7);
  -webkit-flex-basis: calc((((100%) / 6) * 7) - 1rem);
          flex-basis: calc((((100%) / 6) * 7) - 1rem); }

.columncount_7 > * {
  width: 14.2857142857%;
  -webkit-flex-basis: calc(((100%) / 7) - 1rem);
          flex-basis: calc(((100%) / 7) - 1rem);
  -webkit-flex-basis: calc(((100%) / 7) - var(--guttersize));
          flex-basis: calc(((100%) / 7) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_7 .columnwidth_1 {
  width: 14.2857142857%;
  width: calc((((100% + 1rem) / 7)) * 1);
  -webkit-flex-basis: calc((((100%) / 7) * 1) - 1rem);
          flex-basis: calc((((100%) / 7) * 1) - 1rem); }

.columncount_7 > * {
  width: 14.2857142857%;
  -webkit-flex-basis: calc(((100%) / 7) - 1rem);
          flex-basis: calc(((100%) / 7) - 1rem);
  -webkit-flex-basis: calc(((100%) / 7) - var(--guttersize));
          flex-basis: calc(((100%) / 7) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_7 .columnwidth_2 {
  width: 28.5714285714%;
  width: calc((((100% + 1rem) / 7)) * 2);
  -webkit-flex-basis: calc((((100%) / 7) * 2) - 1rem);
          flex-basis: calc((((100%) / 7) * 2) - 1rem); }

.columncount_7 > * {
  width: 14.2857142857%;
  -webkit-flex-basis: calc(((100%) / 7) - 1rem);
          flex-basis: calc(((100%) / 7) - 1rem);
  -webkit-flex-basis: calc(((100%) / 7) - var(--guttersize));
          flex-basis: calc(((100%) / 7) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_7 .columnwidth_3 {
  width: 42.8571428571%;
  width: calc((((100% + 1rem) / 7)) * 3);
  -webkit-flex-basis: calc((((100%) / 7) * 3) - 1rem);
          flex-basis: calc((((100%) / 7) * 3) - 1rem); }

.columncount_7 > * {
  width: 14.2857142857%;
  -webkit-flex-basis: calc(((100%) / 7) - 1rem);
          flex-basis: calc(((100%) / 7) - 1rem);
  -webkit-flex-basis: calc(((100%) / 7) - var(--guttersize));
          flex-basis: calc(((100%) / 7) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_7 .columnwidth_4 {
  width: 57.1428571429%;
  width: calc((((100% + 1rem) / 7)) * 4);
  -webkit-flex-basis: calc((((100%) / 7) * 4) - 1rem);
          flex-basis: calc((((100%) / 7) * 4) - 1rem); }

.columncount_7 > * {
  width: 14.2857142857%;
  -webkit-flex-basis: calc(((100%) / 7) - 1rem);
          flex-basis: calc(((100%) / 7) - 1rem);
  -webkit-flex-basis: calc(((100%) / 7) - var(--guttersize));
          flex-basis: calc(((100%) / 7) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_7 .columnwidth_5 {
  width: 71.4285714286%;
  width: calc((((100% + 1rem) / 7)) * 5);
  -webkit-flex-basis: calc((((100%) / 7) * 5) - 1rem);
          flex-basis: calc((((100%) / 7) * 5) - 1rem); }

.columncount_7 > * {
  width: 14.2857142857%;
  -webkit-flex-basis: calc(((100%) / 7) - 1rem);
          flex-basis: calc(((100%) / 7) - 1rem);
  -webkit-flex-basis: calc(((100%) / 7) - var(--guttersize));
          flex-basis: calc(((100%) / 7) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_7 .columnwidth_6 {
  width: 85.7142857143%;
  width: calc((((100% + 1rem) / 7)) * 6);
  -webkit-flex-basis: calc((((100%) / 7) * 6) - 1rem);
          flex-basis: calc((((100%) / 7) * 6) - 1rem); }

.columncount_7 > * {
  width: 14.2857142857%;
  -webkit-flex-basis: calc(((100%) / 7) - 1rem);
          flex-basis: calc(((100%) / 7) - 1rem);
  -webkit-flex-basis: calc(((100%) / 7) - var(--guttersize));
          flex-basis: calc(((100%) / 7) - var(--guttersize));
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0; }

.columncount_7 .columnwidth_7 {
  width: 100%;
  width: calc((((100% + 1rem) / 7)) * 7);
  -webkit-flex-basis: calc((((100%) / 7) * 7) - 1rem);
          flex-basis: calc((((100%) / 7) * 7) - 1rem); }

.flexsection_outer {
  max-width: 100%;
  overflow-x: hidden; }

.flexsection,
.gridsection {
  display: block;
  width: 100%; }

.flexsection {
  width: calc( 100% + 1rem); }

.flexsection::before,
.flexsection::after,
.gridsection::before,
.gridsection::after {
  content: "";
  display: block;
  clear: both; }

.flexsection > *,
.gridsection > * {
  float: left;
  display: block;
  margin: 0 1rem 1rem 0; }
