// INTRO/DOCS ==============================================================

/*

Copyright Heathcliffe Bird, 2020

USEAGE RIGHTS
-------------

This software is free to use and modify under the MIT licence, below. 

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.



*/





// VARIABLE DEFINITIONS  ===================================================

$classPrefix: ""; // prefixes all classnames - avoids name clashes with other/existing styles & frameworks

$breakpoints: (normal: 600px, wide: 950px, xwide: 1200px);

$gridGuideColumnColour: rgba(0, 128, 255, 0.2);
$gridItemColumnColour: rgba(0,0,0,0.4);
$flexItemColumnColour: rgba(0, 64, 255, 0.3);

$guttersize: 1rem;

$maxColumnCount: 6;

@import "vars_grid.scss"; // override defaults using the external variables sheet

// NOW DUPE VARIABLES TO CSS CUSTOM VARS IN ROOT AND ALLOW USERS TO OVERRIDE VIA CSS OR JS

:root {
  --guttersize: #{$guttersize};
  --gridGuideColumnColour: #{$gridGuideColumnColour};
  --gridItemColumnColour: #{$gridItemColumnColour};
  --flexItemColumnColour: #{$flexItemColumnColour};
} 

body {
  // 
}

// CORE STYLES  ==============================================================

body.#{$classPrefix}debugLayout {
  .#{$classPrefix}flexsection {
    // include debug stripes
  }

  .#{$classPrefix}flexsection > * {
    background: $flexItemColumnColour;
    background: var(--flexItemColumnColour);
  }
  .#{$classPrefix}gridsection > * {
    background: $gridItemColumnColour;
    background: var(--gridItemColumnColour);
  }
  .flexsection {
    // background: yellow;
  }
}

// DEFAULT LAYOUT STYLES (ALSO USED FOR MOBILE)  ==============================================================

// CALCULATE SIZES
@for $i from 1 to ($maxColumnCount + 1) {
  @for $j from 1 to $maxColumnCount {
    .#{$classPrefix}columncount_#{$i} > * {
      // width: (100% / $i);
      width: calc(((100%) / #{$i}) - #{$guttersize});
      width: calc(((100%) / #{$i}) - var(--guttersize));
      flex-basis: calc(((100%) / #{$i}) - #{$guttersize});
      flex-basis: calc(((100%) / #{$i}) - var(--guttersize));
      flex-shrink: 0;
      flex-grow: 0;
    }
    
    .#{$classPrefix}columnwidth_#{$i} .#{$classPrefix}flexsection .#{$classPrefix}columnwidth_#{$j},
    .#{$classPrefix}flexsection.#{$classPrefix}columncount_#{$i} > .#{$classPrefix}columnwidth_#{$j},
    .#{$classPrefix}columnwidth_#{$i} .#{$classPrefix}gridsection .#{$classPrefix}columnwidth_#{$j},
    .#{$classPrefix}gridsection.#{$classPrefix}columncount_#{$i} > .#{$classPrefix}columnwidth_#{$j} {
      width: (100% / $i) * $j;
      width: calc((((100%) / #{$i}) * #{$j}) - var(--guttersize));
      flex-basis: calc((((100%) / #{$i}) * #{$j}) - #{$guttersize});
      flex-basis: calc((((100%) / #{$i}) * #{$j}) - var(--guttersize)); 
    }

    // for each breakpoint, add a breakpoint media query and include the above in it, but with breakpoint-prefixed column count classes

    @each $breakpointName, $breakpointWidth in $breakpoints {
      @media screen and (min-width: #{$breakpointWidth}) {
              // insert styles 
              
              .#{$classPrefix}flexsection.#{$classPrefix}columncount_#{$breakpointName}_#{$i} > .#{$classPrefix}columnwidth_#{$j} {
                width: (100% / $i) * $j;
                width: calc((((100%) / #{$i}) * #{$j}) - var(--guttersize));
                flex-basis: calc((((100%) / #{$i}) * #{$j}) - #{$guttersize});
                flex-basis: calc((((100%) / #{$i}) * #{$j}) - var(--guttersize)); 
              }        
      }
    }

    // end breakpoints
  }
}


.#{$classPrefix}flexsection_outer {
  max-width: 100%;
  overflow-x: hidden; // crop the contents to remove the extra gutter width below
}

.#{$classPrefix}flexsection,
.#{$classPrefix}gridsection {
  display: block;
  width: 100%;
}

.#{$classPrefix}flexsection {
  width: calc(
    100% + #{$guttersize}
  ); // allow for extra gutters worth of margin on items
  width: calc(100% + var(--guttersize));
}

.#{$classPrefix}flexsection::before,
.#{$classPrefix}flexsection::after,
.#{$classPrefix}gridsection::before,
.#{$classPrefix}gridsection::after {
  content: "";
  display: block;
  clear: both;
}

.#{$classPrefix}flexsection > *,
.#{$classPrefix}gridsection > * {
  float: left;
  display: block;
  margin: 0 $guttersize $guttersize 0;
  margin: 0 var(--guttersize) var(--guttersize) 0;
}

// FLEXBOX-BASED STYLES (WHERE FLEXBOX SUPPORTED)  ==============================================================

// @supports (display: flex) {
  .#{$classPrefix}flexsection,
  .#{$classPrefix}gridsection {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: flex-start;
  }

  .#{$classPrefix}flexsection::before,
  .#{$classPrefix}flexsection::after,
  .#{$classPrefix}gridsection::before,
  .#{$classPrefix}gridsection::after {
    display: none;
  }

  .#{$classPrefix}flexsection > *,
  .#{$classPrefix}gridsection > * {
    float: none;
  }

  // inherit column counts into nested flex containers

 // @supports (display: grid) {
    // add width and size classes here...

    // GRID-BASED STYLES (WHERE GRID SUPPORTED)  ==============================================================

    .#{$classPrefix}gridsection_outer {
     // insert styles
    }

    .#{$classPrefix}gridsection {
      display: grid;
      grid-auto-flow: row dense;
      grid-column-gap: $guttersize;
      grid-column-gap: var(--guttersize);
      grid-row-gap: $guttersize;
      grid-row-gap: var(--guttersize);
    }


    // CALCULATE SIZES
    @for $i from 1 to ($maxColumnCount + 1) {

      .gridsection.#{$classPrefix}columncount_#{$i},
      .#{$classPrefix}columncount_#{$i}.#{$classPrefix}gridsection ,
      .#{$classPrefix}columnwidth_#{$i} > .#{$classPrefix}gridsection_outer > .#{$classPrefix}gridsection {
        grid-template-columns: repeat($i, 1fr); 

        -ms-grid-columns: repeat( $i, 1fr );
      }

      @for $j from 1 to $maxColumnCount {
        .gridsection > * {
          display: block;
          grid-column: span 1;
          grid-row: span 1;
          width: 100%;
          margin: 0px;
          margin: 0 $guttersize $guttersize 0;
        }

        @supports (display: grid) {
          margin: 0 0 0 0;
        }
        
        .#{$classPrefix}columnwidth_#{$i} .#{$classPrefix}gridsection .#{$classPrefix}columnwidth_#{$j},
        .#{$classPrefix}gridsection.#{$classPrefix}columncount_#{$i} > .#{$classPrefix}columnwidth_#{$j} {
          // styles
          grid-column: span $j;
          -ms-grid-column: span $i;
          width: 100%;
          grid-row: span 1;  
          -ms-grid-row: span 1;
        }

        .#{$classPrefix}columnwidth_#{$i} .#{$classPrefix}gridsection .#{$classPrefix}columnwidth_#{$j}.makeSquare,
        .#{$classPrefix}gridsection.#{$classPrefix}columncount_#{$i} > .#{$classPrefix}columnwidth_#{$j}.makeSquare {
          grid-row: span $j;
        }


        

        // for each breakpoint, add a breakpoint media query and include the above in it, but with breakpoint-prefixed column count classes

        @each $breakpointName, $breakpointWidth in $breakpoints {
          @media screen and (min-width: #{$breakpointWidth}) {
                  
                  .#{$classPrefix}flexsection.#{$classPrefix}columncount_#{$breakpointName}_#{$i} > .#{$classPrefix}columnwidth_#{$j} {
                    //styles
                  }        
          }
        }

        // end breakpoints
      }
    }





  // }
// }

// UTILITY STYLES  ==============================================================

// like gutter-based margins and paddings

// and ability to add a half gutter padding for backgrounds? - position left by a half gutter and add a gutter to width?


.makeSquare::before {
  content: "";
  display: block;
  float: left;
  width: 0px;
  overflow-x: hidden;
  padding-bottom: 100%;

}






.thisStyleAlsoExtendsDoublewidth {
  @extend .columnwidth_2;
}


.thisStyleExtendsDoublewidthAndMakeSquare {
  @extend .columnwidth_2;
  @extend .makeSquare;
}
