@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.pageDivider {
    margin: 4rem 8rem;
}

/*

.vartest[data-test] {
    --somevar: attr(data-test);
    color: var(--somevar);
    content: var(--somevar);
    content: attr(data-test);
}

.vartest[data-test]::after {
    // --somevar: attr(data-test);
    color: var(--somevar);
    background: var(--somevar);
    content: var(--somevar);
    margin-top: calc(attr(data-top) * 2rem);
}

*/




// BURGER ICON =====================================================================

/* 

.burger {
    // content: " ";
    display: inline-block;
    width: 5rem;
    height: 5rem;
    // background: red;
    position: relative;
    box-sizing: border-box;
    border-top: 1rem solid green;
    border-bottom: 1rem solid green;
}

.burger::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    background: orange;
    top: 1rem;
}

.burger::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    background: blue;
    top: 1rem;
}

.burger.close {
    // content: " ";
    display: inline-block;
    width: 5rem;
    height: 5rem;
    // background: red;
    position: relative;
    box-sizing: border-box;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transform: all 0.5s;
}

.burger.close::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    background: orange;
    transform: rotate(-45deg);
    top: 1rem;
    transition: all 0.5s;
}

.burger.close::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    background: blue;
    transform: rotate(45deg);
    top: 1rem;
    transition: all 0.5s;
}

*/

// CLICKABLE BURGER ICON =====================================================================

.burger {
    // content: " ";
    display: inline-block;
    width: 5rem;
    height: 5rem;
    // background: red;
    position: relative;
    box-sizing: border-box;
    border-top: 1rem solid green;
    border-bottom: 1rem solid green;
}

.burger::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    background: orange;
    top: 1rem;
}

.burger::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    background: blue;
    top: 1rem;
}


  input[type=checkbox]:checked + label.burger {
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: all 0.5s;
    cursor: pointer;
    // border-bottom-width: 0px;
    // border-top-width: 0px;
  } 

  input[type=checkbox]:checked + label.burger::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    background: orange;
    transform: rotate(-45deg);
    top: 1rem;
    transition: all 0.5s;
}


    input[type=checkbox]:checked + label.burger::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1rem;
        background: blue;
        transform: rotate(45deg);
        top: 1rem;
        transition: all 0.5s;
    }

    input[type=checkbox]:checked ~  .burgermenu {
        background: yellow;
    }




// UTILITY LAYOUT CLASSES =====================================================================



.tile {
    width: 300px;
    height: 300px;
    margin: 1rem;
    display: inline-block;
    position: relative;
    background: #eee;
    overflow: hidden;
}  

.tile img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile .caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: rgba(0,0,0,0.3);
    color: white;
}

.title {
    position: absolute;
    color: white;
    padding: 1rem;
    background: red;
    bottom: 0;
    left: 0;
    font-size: 1.5em;
}


// HOVER EFFECTS =====================================================================


.hovereffect_scale, .hovereffect_blur, 
.hovereffect_darken, .hovereffect_fadeIn,
.hovereffect_slideUp, .hovereffect_darken_scale,
.hovereffect_fadeOut {
    transition: all 0.5s;
}

.hovertarget:hover {
    cursor: pointer;
}


.hovertarget:hover .hovereffect_scale {
    transform: scale(1.2);
}

.hovertarget:hover .hovereffect_blur {
    filter: blur(10px);
}

.hovertarget:hover .hovereffect_darken {
    filter: brightness(40%);
}

.hovertarget:hover .hovereffect_darken_scale {
    transform: scale(1.2);
    filter: brightness(30%);
}

.hovereffect_fadeIn {
    opacity: 0;
}

.hovertarget:hover .hovereffect_fadeIn {
    opacity: 1;
}

.hovertarget:hover .hovereffect_fadeOut {
    opacity: 0;
}

.hovereffect_slideUp {
    margin-top: 100%;
}

.hovertarget:hover .hovereffect_slideUp {
    margin-top: 0%;
}






// NON GRID, GRID LAYOUT TESTS =====================================================================




.nonGridItem {
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 1rem 1rem 0;
    background: #eee;
}

.nonGridItem.double {
    width: 400px;
    height: 400px;
    width: calc(400px + 1rem);
    height: calc(400px + 1rem);
}





