// SET BREAKPOINTS
$breakpoint_xwide: 1500px;
$breakpoint_wide: 1020px;
$breakpoint_med: 600px;


// OVERALL PAGE COLUMN COUNTS FOR EACH BREAKPOINT
$page_grids_column_count_xwide: 5;
$page_grids_column_count_wide: 4;
$page_grids_column_count_med: 3;

// SIDEBAR INFO
$page_sidebar_width: 1;

// GRID ITEM SPACING
$grid_gutter: 1rem;






@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.gridset {
    background: rgba(0, 208, 255, 0.15);
    height: auto;
    display: grid;
    column-gap: $grid_gutter;
    row-gap: $grid_gutter;
    grid-auto-flow: dense;
    grid-template-columns: repeat($page_grids_column_count_med, 1fr);     
}

@media only screen and (min-width: $breakpoint_wide) {
    .gridset {
        grid-template-columns: repeat($page_grids_column_count_wide, 1fr);     
    }
}

@media only screen and (min-width: $breakpoint_xwide) {
    .gridset {
        grid-template-columns: repeat($page_grids_column_count_xwide, 1fr);     
    }
}



.gridset.squareItems .griditem::before {
    content: "";
    display: block;
    width: 0px;
    padding-bottom: 100%;
    background: yellow;
    float: left;
}

.griditem {
    background: rgba(0,0,0,0.1);
}



// GRID ITEM MODIFIERS

.griditem.griditem_fullwidth {
    grid-column: 1/-1;
}

.griditem.griditem_width2 {
    grid-column: span 2;
}

.gridset.squareItems .griditem.griditem_width2 {
    grid-column: span 2;
    grid-row: span 2;
}

